
/* styles.css */

body::-webkit-scrollbar {
    display: none;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  nav {
    background-color: #061e42;
    color: white;
    padding: 1% 1% 1% 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav img {
    transform: scale(0.85);
    margin-right: auto;
    padding: 0% 0% 0% 0%;
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 1%;
    font-size: 1.1em;
    margin-left: 1%;
  }
  .button {
    background-color: #9575c9;
    color: white;
    text-decoration: none;
    padding: 0.5% 1.2% 0.5% 1.2%;
    font-size: 1.1em;
    border-radius: 15px;
  }
  .button.contact {
    margin-right: 1.5%;
  }
  .front-page {
    height: calc(100vh - 95px);
    background-image: url("background1.png");
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center items */
    flex-direction: column;
    color: white;
    font-family: "Inter";
  }
  .header1 {
    font-weight: bold;
    letter-spacing: -6.8%;
    font-size: 6em;
    margin: 10% 0% 0% 0%;
  }
  .subtitle1 {
    font-size: 0.9em;
    margin: 0% 20% 0% 20%;
  }
  .button.donate {
    padding: 10% 20% 10% 20%; /* Top, Right, Bottom, Left */
  }
  .meet-the-team {
    height: auto;
    font-family: "Inter";
    padding: 3% 0% 3% 6%;
    color: black;
  }
  .header2 {
    letter-spacing: -10%;
    font-weight: 700;
    font-size: 1.3em;
  }
  .subtitle2 {
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 2%;
    margin-right: 35%;
  }
  .meet-the-team img {
    border-radius: 15px;
    width: 95%;
    height: 650px;
  }
  .on-campus-background {
    background-color: #f6f1fc;
    padding: 2% 0% 3% 0%; /* Top, Right, Bottom, Left */
  }
  .on-campus {
    height: auto;
    font-family: "Inter";
    margin-left: 6%;
    color: black;
  }
  .on-campus .header2 {
    margin-bottom: 0%;
  }
  .above-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .on-campus .subtitle2 {
    font-weight: 500;
    margin-right: 55%;
    display: inline-block;
  }
  .on-campus .more-info {
    display: inline-block;
    position: relative;
    bottom: 10px;
    white-space: nowrap;
    margin: 0% 5% 0% 0%;
  }
  .on-campus img {
    border-radius: 15px;
    width: 95%;
    height: 650px;
  }
  .in-the-press {
    height: auto;
    padding: 3% 0% 3% 6%;
  }
  .in-the-press .article-scroller {
    font-family: "Inter";
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .article-scroller::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .article-scroller {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .article-scroller a {
    margin-right: 3%;
    position: relative;
    flex: 0 0 auto;
  }
  .article-scroller img {
    border-radius: 15px;
    height: 300px;
    width: 475px;
  }
  .article-scroller .captions {
    margin: 0% 0% 6% 6%; /* Top, Right, Bottom, Left */
    position: absolute;
    left: 0;
    bottom: 0;
    color: black;
    text-align: left;
  }
  .article-scroller .caption1 {
    font-size: 1.2em;
    font-weight: 600;
    display: block;
  }
  .article-scroller .caption2 {
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: -0.05px;
    white-space: wrap;
    display: block;
    margin-top: 2%;
    margin-right: 20%;
  }
  .newsletter {
    height: auto;
    background-color: #0c1d40;
    padding: 3% 0% 3% 6%; /* Top, Right, Bottom, Left */
    color: white;
  }
  .newsletter .header3 {
    font-weight: 700;
    font-size: 1.3em;
    display: inline;
    margin-right: 70%;
  }
  .newsletter .subtitle3 {
    margin-right: 30%;
    margin-top: 2%;
  }
  